.loginbody {
  width: 100%;
  height: 100vh;
  background: #fff;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.head {
  width: 120px;
  height: 120px;
  margin-top: 14vh;
  background-image: url('../../assets/images/logo.png');
  background-size: 100%;
  background-repeat: no-repeat;
}

.name {
  font-size: 48px;
  font-weight: 700;
  margin-top: 40px;
  letter-spacing: 8px;
}
.sub{
  font-size: 24px;
  color:#999;
  letter-spacing: 8px;
}

.username {
  width: 620px;
  height: 80px;
  border-bottom: 1px solid #eee;
  margin-top: 90px;
  position: relative;
  input {
    font-size: 28px;
    width: 500px;
    padding-left: 20px;
  }
  .input {
    background: transparent;
    height: 100%;
    display: flex;
    align-items: center;
    padding: 0;
  }
  .input::after {
    display: none;
  }
}

.password {
  @extend .username;
  margin-top: 60px;
  .eye {
    width:60px;
    height:100%;
    position: absolute;
    top: 0;
    right: 10px;
    font-size: 40px;
    color: #999;
    z-index: 100;
    line-height: 84px;
  }
}

.submit {
  width: 300px;
  height: 60px;
  background: #f8d132;
  line-height: 60px;
  text-align: center;
  border-radius: 60px;
  margin-top: 70px;
  font-size: 28px;
  color: #fff;
  border: none;
}

.loginform {
  background: transparent;
  border-color: transparent;
}

.other-login{
  width:100%;
  margin-top:100px;
  text-align: center;
  color:#999;
  font-size: 26px;
}

.login-type{
  width:100%;
  display: flex;
  justify-content: center;
  margin-top:30px;
  &-item{
    width:100px;
    .at-button{
      width:72px;
      height: 72px;
      padding:0;
      border:none;
      border-radius: 50%;
      background:#f7f7f7;
    }
  }
}