.loginbody {
  width: 100%;
  height: 100vh;
  background: #444;
  display: flex;
  flex-direction: column;
  align-items: center;
  background: url('https://image.hivescrm.cn/image_test/2020/08/29/378af4e6-9daa-4b0e-9453-a4db6e3a65d6.png');
  background-size: 100%;
}

.head {
  width: 120px;
  height: 120px;
  margin-top: 16vh;

  image {
    width: 100%;
    height: 100%;
    background: #f4d231;
    border-radius: 50%;
  }
}

.name {
  font-size: 48px;
  font-weight: 700;
  color: #fff;
  margin-top: 40px;
}

.username {
  width: 620px;
  height: 80px;
  border-radius: 80px;
  border: 1px solid #fff;
  // border-top:0;
  margin-top: 90px;
  position: relative;

  input {
    color: #fff;
    font-size: 28px;
    width: 500px;
    padding-left: 30px;
  }

  .input {
    background: transparent;
    color: #fff;
    height: 100%;
    display: flex;
    align-items: center;
    padding: 0;
  }

  .input::after {
    display: none;
  }
}

.password {
  @extend .username;
  margin-top: 60px;

  .eye {
    width:60px;
    height:100%;
    position: absolute;
    top: 0;
    right: 10px;
    font-size: 40px;
    color: #fff;
    z-index: 100;
    line-height: 84px;
  }
}

.submit {
  width: 520px;
  height: 80px;
  background: #f8d132;
  line-height: 80px;
  text-align: center;
  border-radius: 80px;
  margin-top: 80px;
  font-size: 28px;
  color: #fff;
  border: none;
}

.loginform {
  background: transparent;
  border-color: transparent;
}
