.chatorderbox {
  width: 680px;
  height: 700px;
  border-radius: 10px;
  box-shadow: 0 2px 16px 0 rgba(0, 0, 0, .15);
  position: absolute;
  bottom: 80px;
  left: -76px;
  box-sizing: border-box;
  background: #fff;
  font-weight: 500;

  &::after {
    content: '';
    width: 0;
    height: 0;
    border-width: 20px 20px 0;
    border-style: solid;
    border-color: #fff transparent transparent;
    position: absolute;
    bottom: -20px;
    left: 76px;
  }

  .orderheader {
    width: 100%;
    height: 80px;
    line-height: 80px;
    box-sizing: border-box;
    padding-left: 60px;
    font-size: 28px;
    color: #7685FF;
    border-bottom: 2px solid #eee;
  }

  .orderform {
    width: 100%;
    box-sizing: border-box;
    padding: 20px 40px;

    &:after {
      display: none;
    }

    .label {
      font-size: 22px;
      color: #101010;
      width: 100%;
    }

    .orderinput {
      input {
        height: 60px;
        border: 2px solid #bbb;
        border-radius: 10px;
      }
    }

    .orderpicker {
      height: 60px;
      border: 1px solid #bbb;
      margin: 10px 0;
      border-radius: 10px;
      padding-left: 30px;

      .at-list {
        height: 58;
        display: flex;
        align-items: center;

      }

      .at-list__item .item-extra__info {
        margin: 0
      }
    }

    .formbtn {
      width: 100%;
      display: flex;
      height: 50px;
      margin: 20px 0;

      .flb {
        flex: 1;
        display: flex;

        .rest {
          width: 96px;
          height: 46px;
          border: 2px solid #bbb;
          color: #bbb;
          background: #fff;
          line-height: 46px;
          margin: 0
        }
      }

      .frb {
        flex: 1;
        display: flex;
        justify-content: flex-end;

        .creat {
          margin: 0
        }
      }
    }
  }
}
