.chatfanlist {
  width: 100%;
  margin-top:88px;
  margin-bottom:120px;
  &.needh{
    margin-bottom:184px;
  }
}
.moreload{
  width:100%;
  height:60px;
  line-height: 60px;
  text-align: center;
  position: relative;
}