
.fanbox {
  width: 100%;
  height: 150px;
  display: flex;
  align-items: center;

  .left {
    width: 110px;
    height: 110px;
    margin-left: 60px;
    margin-right: 20px;
  }

  .right {
    flex: 1;
    height: 90px;
    padding-right: 30px;
    display: flex;
    flex-direction: column;
    margin-top:6px;
  }
}

.head {
  width: 110px;
  height: 110px;
  border-radius: 50%;
  background:#eee;
}

.top {
  margin-bottom: 15px;
  display: flex;
  .name {
    font-size: 30px;
    margin-right: 16px;
  }
}

.bot {
  display: flex;
  .newmsg {
    font-size: 24px;
    width: 450px;
    color: #909399
  }
}
