.chatfanlist {
  width: 100%;
  margin-top:88px;
  margin-bottom:120px;
}

.fanbox {
  width: 100%;
  height: 170px;
  display: flex;
  align-items: center;

  .left {
    width: 120px;
    height: 120px;
    margin-left: 60px;
    margin-right: 20px;
  }

  .right {
    flex: 1;
    height: 90px;
    padding-right: 30px;
    display: flex;
    flex-direction: column;
    margin-top:6px;
  }
}

.head {
  width: 120px;
  height: 120px;
  border-radius: 50%;
}

.top {
  margin-bottom: 15px;
  display: flex;
  .name {
    font-size: 32px;
    margin-right: 16px;
  }

  .page {
    line-height: 44px;
    font-size: 22px;
    width:90px;
    color: #909399;
  }
  .tagbox{
    flex:1;
    display: flex;
    align-items: center;
    justify-content: flex-end;
  }
  .tag{
    height:30px;
    line-height: 30px;
    padding:0 10px;
    border:2px solid #7685FF;
    border-radius: 4px;
    color:#7685FF;
    margin-left: 10px;
    font-size: 20px;
    max-width: 130px;
  }
}

.bot {
  display: flex;

  .newmsg {
    font-size: 24px;
    width: 360px;
    color: #909399
  }

  .date {
    flex: 1;
    text-align: right;
    font-size: 22px;
    color: #bbbbbb;
  }
}
