.pagebody{
  width:100%;
  overflow-x:auto;
}

.pagebox{
  width:100%;
  height: 60px;
  line-height: 60px;
  box-sizing: border-box;
  display: flex;
  padding-left:60px;
  font-size: 22px;
  .pname{
    width:200px;
  }
}
.accthead{
  @extend .pagebox;
  font-weight: bold;
}
