.flowbox{
  width:680px;
  height:600px;
  border-radius: 10px;
  box-shadow: 0 2px 16px 0 rgba(0,0,0,.15);
  position: absolute;
  bottom:100px;
  left:-50px;
  box-sizing: border-box;
  background:#fff;

  .topheader {
    width: 100%;
    height: 80px;
    line-height: 80px;
    box-sizing: border-box;
    padding-left: 60px;
    font-size: 28px;
    color: #7685FF;
    border-bottom: 2px solid #eee;
  }
  &::after {
    content: '';
    width: 0;
    height: 0;
    border-width: 20px 20px 0;
    border-style: solid;
    border-color: #fff transparent transparent;
    position: absolute;
    bottom: -20px;
    left: 60px;
  }
}
.search{
  width:100%;
  height:88px;
  box-sizing: border-box;
  padding:20px 40px 10px;
  .at-input{
    padding:0;
    margin:0;
    &:after{display: none}
    input{
      width:100%;
      height: 56px;
      padding-left:30px;
      border:2px solid #f4f4f4;
      border-radius: 68px;
      font-size: 26px;
      color:#333;
      font-weight: 500;
    }
  }
}

.flowscroll{
  width:100%;
  height:430px;
  .flow{
    width:100%;
    height: 80px;
    border-bottom:2px solid #f2f2f2;
    display: flex;
    font-weight: 600;
    line-height: 80px;
    box-sizing: border-box;
    padding-left:60px;
    .name{
      font-size: 24px;
      color:#000;
    }
  }
}