.list-header{
  width: 100%;
  background: #fff;
  position: fixed;
  top:0;
  z-index: 9;
}
.back-icon{
  width: 88px;
  height:88px;
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  bottom: 0;
  left: 0;
  font-size: 36px;
  z-index: 9;
}

.bottom{
  width:100%;
  height:88px;
  text-align: center;
  line-height: 88px;
  position: absolute;
  bottom: 0;
  font-size: 30px;
}

.search-box{
  display: flex;
  justify-content: center;
  align-items: center;
  padding:0 40px;
  .input{
    width:100%;
    height:60px;
    background:#F7F7FA;
    padding:0 20px;
    display: flex;
    align-items: center;
    border-radius: 10px;
  }
  .at-icon{
    color:#B3B3BA;
    margin-right:20px;
  }
  .search-text{
    color:#B3B3BA;
    font-size: 24px;
  }
}