
.back-icon{
  width: 88px;
  height:88px;
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  bottom: 0;
  left: 0;
}

.chatinfo {
  display: flex;
  height: 88px;
  border-top: 2px solid #eee;
  border-bottom: 2px solid #eee;
  padding:0 30px;
  .left {
    flex: 4;
    display: flex;
    flex-direction: column;
    height: 100%;
    justify-content: center;
  }

  .right {
    @extend .left;
    flex: 1;
    justify-content: center;
    align-items: flex-end;
  }
}

.chatinfo .left {
  .name {
    font-size: 24px;
    color: #101010;
    width:400px;
  }
}

.chatinfo .right {
  image {
    width: 32px;
    height: 32px;
    margin-right: 20px;
  }
}

.serselect {
  width: 200px;
  height: 30px;
  border-radius: 10px;
  display: flex;
  align-items: center;
  margin-right: 30px;
  position: relative;

  .at-icon-chevron-down {
    font-size: 26px;
    z-index: 99;
    margin:0 5px;
  }
  .picker{
    height: 30px;
    width:100%;
  }
}
// 覆盖样式
.at-list{
  border-radius: 10px;
  width:160px;
  height: 30px;
}
.at-list__item .item-extra{
  width:100%;
  height: 30px;
  text-align: left;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  line-height: 30px;
}
.at-list__item-content {
  display: none;
}
.at-list__item .item-extra__info{
  font-size: 20px;
  color:#bbb;
}
.at-list::after{display:none}
.at-list__item{padding:0}
.at-list__item::after{display: none;} 
