.emojibox{
  width:680px;
  height:260px;
  border-radius: 10px;
  box-shadow: 0 2px 16px 0 rgba(0,0,0,.15);
  position: absolute;
  bottom:100px;
  left:35px;
  box-sizing: border-box;
  padding:30px 40px;
  background:#fff;
  display: flex;
  overflow-y: auto;
  flex-wrap: wrap;
  .emoji{
    width:60px;
    height:60px;
    line-height: 60px;
    text-align: center;
  }
}