.emojibox{
  width:680px;
  height:260px;
  border-radius: 10px;
  box-shadow: 0 2px 16px 0 rgba(0,0,0,.15);
  position: absolute;
  bottom:100px;
  left:35px;
  box-sizing: border-box;
  padding:30px 40px 20px;
  background:#fff;
  .emoji{
    width:60px;
    height:60px;
    line-height: 60px;
    text-align: center;
  }
  &::after {
    content: '';
    width: 0;
    height: 0;
    border-width: 20px 20px 0;
    border-style: solid;
    border-color: #fff transparent transparent;
    position: absolute;
    bottom: -20px;
    left: 26px;
  }
}
.emojiscroll{
  height:100%;
  width:100%;
  .emojiinner{
    width:100%;
    height: 100%;
    display: flex;
    flex-wrap: wrap;
  }
}
