@font-face {font-family: "iconfont";
  src: url('./assets/icon/iconfont.woff?t=1597717675337') format('woff'),
  url('./assets/icon/iconfont.ttf?t=1597717675337') format('truetype'), /* chrome, firefox, opera, Safari, Android, iOS 4.2+ */
}

.icon {
  font-family: "iconfont" !important;
  font-size: 16px;
  font-style: normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-translate:before {
  content: "\e6ba";
}

.icon-copy:before {
  content: "\e612";
}

.icon-wx:before {
  content: "\e62b";
}

.icon-power:before {
  content: "\e614";
}

.icon-page:before {
  content: "\e618";
}

.icon-yingyong:before {
  content: "\e61c";
}

.icon-key:before {
  content: "\e60a";
}

.icon-mine:before {
  content: "\e60c";
}

.icon-user:before {
  content: "\e60d";
}

.icon-chat:before {
  content: "\e60e";
}

.icon-ins:before {
  content: "\e763";
}

.icon-messenger:before {
  content: "\e767";
}

.icon-whatsapp:before {
  content: "\e776";
}

.icon-wechat:before {
  content: "\e64f";
}

.icon-close:before {
  content: "\e610";
}

.icon-flow:before {
  content: "\e71a";
}

.icon-mail:before {
  content: "\e668";
}

.icon-card:before {
  content: "\e6b4";
}

.icon-female:before {
  content: "\e7a6";
}

.icon-male:before {
  content: "\e600";
}

.icon-msg:before {
  content: "\e6f0";
}

.icon-add-circle:before {
  content: "\e664";
}

.icon-smile:before {
  content: "\e67e";
}


